# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data & outputs
data/
train_preprocessed/
outputs/
runs/
logs/
wandb/

# Model artifacts
*.pth
*.pt
*.ckpt

# Archives
*.zip
*.tar
*.gz
*.npz

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/
